matrix:
  include:    
    - os: linux
      language: android
      compiler: gcc/cmake
      android:
        components:
            - build-tools-26.0.2
            - android-26
      before_install:
        - echo y | sdkmanager "ndk-bundle"
        - echo y | sdkmanager "cmake;3.6.4111459"
        - echo y | sdkmanager "lldb;3.1"
      before_script:
        - export ANDROID_NDK_HOME=$ANDROID_HOME/ndk-bundle
      script:
      - curl -R -O http://www.lua.org/ftp/lua-5.3.5.tar.gz
      - tar zxf lua-5.3.5.tar.gz
      - ls -lrt
      - cd lua-5.3.5
      # disable internal build variables in make file to use externally set environment ariables
      - sed -i 's/CC= gcc -std=gnu99/#CC= i686-linux-android26-clang/g' src/Makefile
      - sed -i 's/PLAT= none/PLAT= posix/g' src/Makefile
      - sed -i 's/AR= ar rcu/#AR= i686-linux-android-ar rcu/g' src/Makefile
      - sed -i 's/RANLIB= ranlib/#RANLIB= i686-linux-android-ranlib/g' src/Makefile
      - sed -i 's/MYCFLAGS=/#MYCFLAGS=/g' src/Makefile
      - sed -i 's/MYLDFLAGS=/#MYLDFLAGS=/g' src/Makefile
      # setup compiler environment for android cross compiler
      - ls -lrt
      - ../build_android_lua.sh "i686-linux-android" "i686-linux-android"
      - make clean
      - ../build_android_lua.sh "x86_64-linux-android" "x86_64-linux-android"
      - make clean
      - ../build_android_lua.sh "armv7a-linux-androideabi" "arm-linux-androideabi"
      - make clean
      - ../build_android_lua.sh "aarch64-linux-android" "aarch64-linux-android"
      - make clean
      - ls -lrt
      #- ls -lrt $ANDROID_NDK_HOME/toolchains/llvm/prebuilt/linux-x86_64/bin
      #- pwd
      - export LUA_DEPLOY_ROOT=`pwd`
      deploy:
        provider: releases
        api_key:
          secure: yguu02IQ69zMGNLTfGH1DuOuAwjK0nqV1Fy6jvhl1l0eo5O7JuxgLjESp83InFBZFJ4Bx4amfOTm/NvblGM/lvJOJao8pEVcsOsxRKU4BRIN1u8zWsUJthkGK3rj21lTPtEy6PU+fT49G1TbWyQkgX18jmfxDq4TDuiUAU3b6ZYDUZdKODVtrE5NN6tSlb4MOsBTcXWnf4MSt7Nej9mpoL9AOWbFRpXo3zwg84xUz9iJW3TClC7HDVGTbzBuikDwN5ouN6RD424Q1U+WFZoLadAtdlW9quM4yhUR/TCQD/PB0iz77OBGq4+ZT/LoJ/a1Q7G7XaHxS1tn5PqzRc7fx2TaYfMRwS318l+g+6i7xlEgPEHhrOL7R0o27fYQtJ7Qdh8DZ7bPItVvya8nSoA2e/QHPFuvnFO4GJ7HYptv5u2kBRn2s6IThsmlrOp25esiudODqUwoMQy9cyyfK3wviBKWGapmeZ5YY0Q5AsdCjygWFXWgEJP/BwhtBX0LKCeY4TAiA1skZTxKvzfHdHb635BNQVysUIA/eGnAk8RtU/aFKGYI5+dHu2kZB912MPKgzn2RZMfQyaimyVAKoOsrM/IrpKGvaaivZysv/bbCI35Ik1uYXEvoKFa8CxLv46pc2VfMuChZk72r0nudy2qGNZpmxr+azRWanxjWMe4QJ4s=
        file: 
          - $LUA_DEPLOY_ROOT/lua-android-i686-linux-android-bin.zip
          - $LUA_DEPLOY_ROOT/lua-android-x86_64-linux-android-bin.zip
          - $LUA_DEPLOY_ROOT/lua-android-armv7a-linux-androideabi-bin.zip
          - $LUA_DEPLOY_ROOT/lua-android-aarch64-linux-android-bin.zip
        skip_cleanup: true
        on:
          tags: true

install:
- "[ $CXX = g++ ] && export CXX=g++-6 || true"
- "[ $CXX = clang++ ] && export CXX=clang++-3.8 || true"
