matrix:
  include:    
    - os: linux
      language: android
      compiler: gcc/cmake
      android:
        components:
            - build-tools-26.0.2
            - android-26
      before_install:
        - echo y | sdkmanager "ndk-bundle"
        - echo y | sdkmanager "cmake;3.6.4111459"
        - echo y | sdkmanager "lldb;3.1"
      before_script:
        - export ANDROID_NDK_HOME=$ANDROID_HOME/ndk-bundle
      script:
      - curl -R -O http://www.lua.org/ftp/lua-5.3.5.tar.gz
      - tar zxf lua-5.3.5.tar.gz
      - cd lua-5.3.5
      # setup compiler environment for android cross compiler
      - export PATH="$ANDROID_NDK_HOME/toolchains/arm-linux-androideabi-4.9/prebuilt/linux-x86/bin/:$PATH"
      - export SYS_ROOT="$ANDROID_NDK_HOME/platforms/android-19/arch-arm/"
      - export CC="arm-linux-androideabi-gcc --sysroot=$SYS_ROOT"
      - export LD="arm-linux-androideabi-ld"
      - export AR="arm-linux-androideabi-ar"
      - export RANLIB="arm-linux-androideabi-ranlib"
      - export STRIP="arm-linux-androideabi-strip"       
      - export MY_INCLUDES="$ANDROID_NDK_HOME/sources/cxx-stl/gnu-libstdc++/4.9/include"       
      - export MY_INCLUDES2="$ANDROID_NDK_HOME/sources/cxx-stl/gnu-libstdc++/4.9/libs/armeabi/include"
      - export MY_LIBS="$ANDROID_NDK_HOME/sources/cxx-stl/gnu-libstdc++/4.9/libs/armeabi"       
      - export MYCFLAGS="-fPIC --sysroot=$SYS_ROOT"
      - export MYLDFLAGS="-pie"
      # build version for arm
      - make posix 
      - ls -l 
      - cd src
      - ls -l
      - ./lua -v
      - cd ..
      - echo $ANDROID_NDK_HOME
      - ls -lrt $ANDROID_NDK_HOME
      - ls -lrt $ANDROID_NDK_HOME/toolchains
      - ls -lrt $ANDROID_NDK_HOME/toolchains/arm-linux-androideabi-4.9
      - ls -lrt $ANDROID_NDK_HOME/toolchains/arm-linux-androideabi-4.9/prebuilt
      - ls -lrt $ANDROID_NDK_HOME/toolchains/arm-linux-androideabi-4.9/prebuilt/linux-x86
      - ls -lrt $ANDROID_NDK_HOME/toolchains/arm-linux-androideabi-4.9/prebuilt/linux-x86/bin
      # TODO: zip deployment file
      - pwd
      - export LUA_DEPLOY_ROOT=`pwd`
      deploy:
        provider: releases
        api_key:
          secure: Ant/0i6hAVbNLNeYMiD0/uqS4HRgdT1b2mVsu8MGppxXGmhAn5Pb+Dv7xRaRiXTuympjI7WHtXDapQsHnMKNWXlv8lizSojVzvzNalh+V8+sn20p7WIXz6QBVy5Fba6CGRm+0EOyYc//leIZMBAENlRXIGKz39ShSl76Z2NwMSRVlLTybnuE716J9xbB/1YzdADE3N4jxF+xd7BnKiPJF9pTQUdgBpFLG9pAVkzKVRsplN+lmysVK1Iwow0z44RqZPSMvFHJLI5IdHgUQ90uDkh5Hnt2WgzonQod3Uy3nKJ3GW58FFoMkzoupA8ySWiJLIfOMNZ47VUE6/6sHRNlpF+g3EEXjKur0HYl488LT0c1yvUtWZUUQeIqW6j5BlCrTCa38Gz1M6I1AH2/NsUeZQ2/4aUAoIpOjyiKOrwdBHKQyPvVlpDxBcpzqRc6a0qlTOkSlWGp83+T7qYatq1pnc56NinUHyePWVheWGQT3WWplaYPflXYMlqNIUmdHz4FUomtFpM8tFzizOhjfLbveF4Od1m0ETLLjIRs1V7IstYW2LXov2yMNSsyAZ3hT2f1K0092U7kfnJisFOClHaA+INZ4KcpXYk0QRqGcBXUR3YN9cfO/qSXUElKmkAnBR3AoJY0CRQ6x7l9NGZi5tVyVKLyxAFyCUcRyZSHL/V3Hck=
        file: 
          - $FUEL_DEPLOY_ROOT/lua-armeabi-v7a-bin.zip
        skip_cleanup: true
        on:
          tags: true

install:
- "[ $CXX = g++ ] && export CXX=g++-6 || true"
- "[ $CXX = clang++ ] && export CXX=clang++-3.8 || true"
